.map {
  margin-top: 20px;
  margin-bottom: 20px;
}

.map-container {
  max-width: 1200px !important;
  height: 400px !important;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .map {
  }
  .map-container {
  }
}
